RESEND_API_KEY=
CONTACT_FROM_EMAIL="Kevin Anrique <contact@kevan.ar>"
CONTACT_TO_EMAIL="hey@kevan.ar"
OPENAI_API_KEY=
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_DB_COLLECTION="embeddings"
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
